.main {
  margin: 0 auto;
  background: #fff;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
}


.container {
  width: 1100px;
  margin: 0 auto;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.overlay > * {
  position: relative;
  z-index: 2;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* маркеры ТОЛЬКО со 2-го пункта */
.header__menu-item:not(:first-child) {
  list-style: circle;
  list-style-position: inside;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-img {
  width: 148px;
  height: 105px;
  display: block;
}

.address {
  font-style: normal;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  text-align: left;
  width: 240px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}


.cover {
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.cover__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  line-height: 1;
}

.cover__title-line {
  display: block;
}

.cover__title-line_left {
  text-align: left;
}

.cover__title-line_center {
  text-align: center;
  margin-top: 45px;
  margin-left: 30px;
}

.cover__title-line_right {
  text-align: right;
  margin-top: 36px;
  margin-left: 615px
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 105px;
  gap: 20px;
}

.cover__subtitle {
  margin: 0;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  padding: 12px 32px;
  cursor: pointer;
}


.lots {
  padding: 180px 24px 0;
}

.lots__title {
  margin: 0 0 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-left: 42px;
}

.lots__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  box-sizing: border-box;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;

}


.card__title {
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}

.lots__more {
  display: inline-block;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
}


.about {
  padding: 120px 50px 0;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 100px;
  align-items: start;
  margin-top: 35px;
  margin-left: 23px;

}

.about__content{
    margin-left: -28px;
}


.about__logo-column{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    padding: 65px 45px;
}

.about__logo{
  width: 148px;
  height: 114px;


}



.about__title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding-top: 100px;
}

.about__text {
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin: 0 0 24px;
}

.about__text p:last-child {
  margin-bottom: 0;
}


.footer {
  padding: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}


.footer__address{
    font-style: normal;
    justify-self: end;
    font-size: 18px;
    line-height: 24.3px;
    text-align: left;
    width: 240px;
    margin-left: 3px;
    margin-top: 10px;
}


.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 10px;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__socials {
  width: 240px;
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  margin-top: 10px;
}


.footer__social-icon {
  width: 50px;
  height: 50px;
  display: block;
}
